html{
    scroll-behavior: smooth;
    
}
a {
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    background-color: black;
}
/* ========= footer =======*/
footer{
    background-color: yellow;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding-top: 1rem;
    user-select:none;
}
footer div{
    padding: 1rem;
}
footer p{
    font-size: 0.8rem;
    color: gray;
}
/* ========= footer =======*/

/* VVV crear proleader VVV*/

#preloader{
    display: none;
    background-color: yellow;
    height: 100dvh;
    width: 100%;
}
#preloader div{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#preloader h3{
    margin: 0;
    
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
}
.maps{
    display: flex;
    background-color: rgb(243, 241, 241);
    margin-bottom: 75dvh;
}
select{ 
    width: 100%;
    background-color: rgb(243, 241, 241);
    border: none;
    font-size: 1.2rem;
    font-weight: 800;
    border-bottom: solid black 1px;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
}
#descProy a{
    color: yellow;
}
img{
    width: 60%;
}
.mainTitle{
    font-family: 'Anton', sans-serif;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100dvh;
    user-select:none;
    transition: opacity 1s ease-out;
}
.mainTitle div{
    display: flex;
    justify-content: center;
    width: 100%;
}
.mainTitle h1{
    position: absolute;
    bottom: 0;
    font-size: 9dvw;
    z-index: -1;
    color: yellow;
    margin: 0;
}
/* scroll msg */
.mainTitle P{
    position: absolute;
    top: 40dvh;
    font-size: 5dvw;
    z-index: -1;
    color: yellow;
    margin: 0;
    transition: 1s;
    opacity: 0;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% {translate: 0px 0px;}
    50% {translate: 0px 10px;}
    100% {translate: 0px 0px;}
}
/* scroll msg */
/*
    ======= header ==========
*/
header{
    display: flex;
    position: fixed;
    width: 100%;
    user-select:none;
    top: 0;
    z-index: 3;
    background-color: black;
    border-bottom: solid yellow 1px;
}
header a{
    margin: 1rem;
    font-size: 0.8rem;
    color: yellow;
}
header #centrador{
    padding: 1rem;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    color: yellow;
}
#contA{
    display: flex;
    justify-content: right;
}
/*
    ===== X header X ========
*/
#descProy{
    position: relative;
    z-index: 0;
    width: 40%;
    color: white;
    left: 40%;
    font-size: 0.9rem;
    margin-bottom: 50dvh;
}
#test{
    display: flex;
    position: relative;
    z-index: 2;
    width: 80%;
    left: 10%;
    padding-bottom: 50dvh;
}
#test img{
    width: 100%;
    transition: 1.5s;
}
#test img:hover{
    scale: 1.02;
}
#test1{
    width: 60%;
}
#test2{
    width: 40%;
    margin-left: 1rem;
}
#img{
    display: flex;
    justify-content: right;
    width: 100%;
    z-index: 0;
}
.maps{
    display: flex;
    position: relative;
    z-index: 6;
}
#post{
    margin: 1.5rem;
}
#top{
    position: sticky;
    top: 0;
    z-index: 5;
}
#titulo{
    display: flex;
    width: 40%;
    position: sticky;
    top: 0;
}
#title{
    /*
    font-family: 'Vina Sans', sans-serif;
    */
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    display: flex;
    position: sticky;
    top: 1rem;
    width: 40%;
    z-index: 1;
}
.cincuenta{
    width: 50%;
}
.cincuenta #derecha{
    display: flex;
    justify-content: right;
}
#descripcion{
    display: flex;
    font-size: 0.7rem;
    justify-content: right;
}
#contenedorBajada{
    display: flex;
    width: 40%;
}
#text{
    display: flex;
    width: 100%;
    justify-content: right;
}
#text p{
    width: 40%;
}
#subTitle{
    display: flex;
    justify-content: right;
}
#subTitle h2{
    width: 40%;
    font-size: 2rem;
}
#desc{
    font-size: 0.9rem;
    width: 60%;
}
#transporte{
    display: flex;
    justify-content: right;
}
#desc2{
    font-size: 0.9rem;
    display: flex;
    width: 40%;
}
#desc2 p, img{
    padding: 0.5rem;
}
#iconoL1{
    margin: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

.svgDesc{
    width: 2rem;
    height: 2rem;
}
.maps a{
    color: black;
}
#fuentes{
    margin: 1rem;
    display: flex;
    justify-content: right;
    font-size: 0.7rem;
}
#mapa{
    display: flex;
    width: 100%;
    justify-content: right;
}
#mapa a{
    display: flex;
    justify-content: center;
    width: 40%;
    border: solid 1px black;
    transition: 0.5s;
}
#mapa p{
    font-size: 1rem;
    font-weight: 800;
}
#mapa a:hover{
    background-color: black;
    color: yellow;
}
#pyrMes{
    position: relative;
    z-index: 0;
    width: 80%;
    color: white;
    left: 10%;
    font-size: 0.9rem;
}
@media screen and (max-width: 1400px){
    #title{
        font-size: 4.4rem
    } 
}
@media screen and (max-width: 1000px){
    body{
        font-size: 1.3rem;
    }
    #post article{
        margin-bottom: 10rem;
    }
    #img{
        display: block;
    }
    img{
        width: 100%;
    }
    #text p{
        width: 60%;
    }
    
    #desc2{
        width: 60%;
    }
    #title{
        width: 100%;
        font-size: 2rem;
        top: 3.2rem;
        justify-content: center;
        background-color: rgb(243, 241, 241);
        padding: 0.3rem;
        margin: 0;
    }
    #subTitle{
        justify-content: left;
    }
    #subTitle h2{
        width: 100%;
        font-size: 1.5rem;
    }
    select{ 
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem;
    }
    #descripcion{
        justify-content: left;
    }
    #contenedorBajada{
        width: 60%;
    }
    #iconoL1{
        margin: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    #mapa a{
        width: 60%;
    }
}
@media screen and (max-width: 800px){
    #text p{
        width: 85%;
        font-size: 1rem;
    }
    #desc{
        font-size: 0.8rem;
    }
    #contenedorBajada{
        width: 100%;
    }
    #descProy{
        width: 80%;
        left: 0;
        margin: 1rem;
        margin-bottom: 25dvh;
    }
    .mainTitle h1{
        margin: 1rem;
    }
    #test{
        width: 100%;
        left: 0;
        padding-bottom: 25dvh;
        display: block;
    }
    #desc2{
        width: 85%;
    }
    #test img{
        padding: 0;
    }
    #mapa a{
        width: 85%;
    }
    .mainTitle P{
        font-size: 12dvw;
    }
    #pyrMes{
        width: 95%;
        left: 0;
        margin: 1rem;
    }
    #test1{
        width: 100%;
    }
    #test img:hover{
        scale: none;
    }
    #test2{
        width: 100%;
        margin-left: 0;
    }
}