body{
    background-color: black;
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
#header{
    display: flex;
    position: sticky;
    top: 0;
    font-size: 0.8rem;
}
#contA div{
    margin: 1rem;
}
#centrador{
    display: flex;
    width: 100%;
}
#topright{
    display: flex;
    justify-content: right;
}
.contenedor{
    display: flex;
    width: 100%;
    border-top: 1px solid yellow;
}
.main{
    display: flex;
    justify-content: right;
}
.cincuenta{
    width: 50%;
}
#post{
    width: 80%;
}
#title{
    width: 60%;
    margin: 1rem;
}
#title h1{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
}
#foto{
    width: 40%;
    margin: 1rem;
    transition: 0.5s;
    z-index: 1;
}
#foto img{
    width: 100%;
}
#foto:hover{
    scale:1.05;
}
a {
    text-decoration: none;
    color: yellow;
}
.filtro{
    display: none;
}
#Buscador{
    width: 100%;
    margin: 1rem;
    border: none;
    border-bottom: 2px solid yellow;
    background-color: black;
    color: yellow;
    font-size: 1rem;
    
}
#BuscadorContenedor{
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 2;
}
footer{
    background-color: yellow;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}
footer div{
    padding: 1rem;
}
#estilo{
    font-size: 0.8rem;
    color: rgb(173, 173, 1);
}
#mainText{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 8dvw;
    display: flex;
    justify-content: center;
}
#contador{
    display: flex;
    justify-content: center;
    margin-bottom: 10dvh;
}
#contador p{
    width: 50%;
    
}
@media screen and (max-width: 1100px){
    #post{
        width: 100%;
    }
    .filtro{
        display: none;
    }
}
@media screen and (max-width: 750px){
    #post{
        width: 100%;
    }
    .contenedor{
        display:contents;
    }
    #title{
        width: 100%;
        border-top: 2px solid yellow;
        margin: 0;
    }
    #foto{
        width: 100%;
        margin: 0;
    }
    .filtro{
        display: none;
    }
    #contador p{
        width: 80%;
        
    }
    #foto:hover{
        scale:none;
    }
    .main{
        margin: 1rem;
    }
}