body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
.maps{
    display: flex;
}
select{ 
    width: 100%;
    background-color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: solid black 1px;
    padding: 1rem;
}
img{
    width: 60%;
}
#img{
    display: flex;
    justify-content: right;
    width: 100%;
    z-index: 0;
}
#post{
    margin: 1.5rem;
}
#top{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}
#titulo{
    display: flex;
    width: 40%;
    position: sticky;
    top: 0;
}
#title{
    font-weight: 800;
    font-size: 4.5rem;
    display: flex;
    position: sticky;
    top: 1rem;
    width: 40%;
    z-index: 1;
}
.cincuenta{
    width: 50%;
}
.cincuenta #derecha{
    display: flex;
    justify-content: right;
}
#descripcion{
    display: flex;
    font-size: 0.7rem;
    justify-content: right;
}
#contenedorBajada{
    display: flex;
    width: 40%;
}
#text{
    display: flex;
    width: 100%;
    justify-content: right;
}
#text p{
    width: 40%;
}
#subTitle{
    display: flex;
    justify-content: right;
}
#subTitle h2{
    width: 40%;
    font-size: 2rem;
}
#desc{
    font-size: 0.9rem;
}
@media screen and (max-width: 1400px){
    #title{
        font-size: 3.7rem
    } 
}
@media screen and (max-width: 1000px){
    body{
        font-size: 1.3rem;
    }
    #post article{
        margin-bottom: 10rem;
    }
    #img{
        display: block;
    }
    img{
        width: 100%;
    }
    #text p{
        width: 60%;
    }
    #text{
        justify-content: left;
    }
    #title{
        width: 100%;
        font-size: 2rem;
        top: 3.2rem;
        justify-content: center;
        background-color: white;
        padding: 0.3rem;
        margin: 0;
    }
    #subTitle{
        justify-content: left;
    }
    #subTitle h2{
        width: 100%;
        font-size: 1.5rem;
    }
    select{ 
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem;
    }
    #descripcion{
        justify-content: left;
    }
    #contenedorBajada{
        width: 60%;
    }
    @media screen and (max-width: 650px){
        #text p{
            width: 100%;
        }
        #desc{
            font-size: 0.8rem;
        }
        #contenedorBajada{
            width: 100%;
        }
    }
    
}